<!--- NAVBAR -->

<header>
        <div id="logo">
                <a href="home-main"><li>MyCarApp</li></a>
        </div>

        <nav id="main-nav">
            <ul>
                <a href="home-main"><li>Home</li></a>
                <a href="myaccount"><li>MyAccount</li></a>
                <a href="/"><li>Logout</li></a>
            </ul>
        </nav>
    </header>


{{#each this.car}}
{{> car-partial }}
{{/each}}