<!--- NAVBAR -->

<header>
    <div id="logo">
        <a href="/home-main">
            <li>MyCarApp</li>
        </a>
    </div>

    <nav id="main-nav">
        <ul>
            <a href="/myaccount">
                <li>MyAccount</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </nav>
</header>


<a href="/car-add"><button type="submit" class="add-button">Fahrzeug hinzufügen</button></a>
<h2>Meine Fahrzeuge</h2>

<section id="car-overview">
    <div class="cards-container">
        {{#each this.car}}
        {{> carPartial }}
        {{/each}}
    </div>
</section>