<table>
<tr>
  <th>Jahr</th>
  <th>Betrag</th>
</tr>
<tr>
  <td>{{ jahr }}</td>
  <td>{{ betrag }}</td>
</tr>
</table>

<!--<div class="tax-partial">
    <p>Jahr: {{ jahr }}</p>
    <p>Betrag: {{ betrag }}</p>  
</div>
-->