<!--- NAVBAR -->

<header>
  <div id="logo">
    <a href="/">
      <li>MyCarApp</li>
    </a>
  </div>

  <nav id="main-nav">
    <ul>
      <a href="#login">
        <li>Login</li>
      </a>
      <a href="#signup">
        <li>Signup</li>
      </a>
    </ul>
  </nav>
</header>

<!--- LOGIN -->

<section id="login">
   <hr>
  <h1>Welcome to My-Car-App</h1>
  <form action="/login" method="POST" id="form_login">
    <h2>Anmelden</h2>


    <input type="email" name="email" placeholder="E-Mail-Adresse" value="muster@web.de"><br>


    <input type="password" name="password" placeholder="**********" value="mustermuster"><br>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div><br>
    {{/if}}

    <a href="/login"><button type="submit" class="button">Login</button></a><br>

    <p class="account-message">
      <li>Sie haben noch keinen Account?</li><br>

      <a href="#signup">Hier klicken zum Registrieren</a>
    </p>
  </form>
</section>


<!--- SIGN UP -->

<section id="signup">
  <form action="/signup" method="POST" id="form_signup">
    <h2>Registrieren</h2>

    <input type="email" name="email" placeholder="E-Mail-Adresse"><br>


    <input type="password" name="password" placeholder="**********"><br>


    <input type="text" name="username" placeholder="Nutzername"><br>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button type="submit" class="button">Account erstellen</button><br>
  </form>
</section>