html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center; }

section {
  min-height: 100%; }

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, a, p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: uppercase; }

#main-nav li {
  color: whitesmoke; }

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px; }

h1 {
  font-size: 30px;
  padding-top: 8%;
  margin-bottom: 40px;
  margin-top: 0px; }

h2 {
  font-size: 25px;
  padding-top: 8%;
  margin-bottom: 40px;
  margin-top: 0; }

h4, p {
  font-family: 'Montserrat', sans-serif;
  color: #494949; }

hr {
  height: 1px;
  width: 310px;
  background: #494949;
  border: 0;
  margin: 0 auto 5px auto; }

section > hr {
  height: 1px;
  width: 100%;
  background: #494949;
  border: 0;
  margin: 0 auto 5px auto; }

/* HEADER **********************/
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: #2F4F4F;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1; }

header nav {
  float: right;
  margin: 3px 50px 0 0; }

header nav ul li {
  float: left;
  margin-left: 25px; }

header nav ul a li {
  font-size: 14px; }

header nav ul li:hover {
  padding-top: 5px; }

li, .button, .save-button, .add-button, .neu-button, #car-remove-button,
#car-edit-button, #update-car-picture, #update-car-details, .car-partial,
.rechnung-hochladen, .fuelstation {
  transition: all 300ms;
  -webkit-transition: all 300ms; }

#logo {
  width: 70px;
  float: left;
  margin: 20px 0 0 50px; }

#logo li {
  color: whitesmoke; }

#logo:hover {
  opacity: 0.5; }

/* LOGIN **********************/
#login {
  font-family: 'Montserrat', serif; }

form input {
  font-family: 'Montserrat', serif;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #2F4F4F;
  width: 552px;
  height: 50px;
  outline-color: white;
  background: -webkit-linear-gradient(top, #fff);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); }

.button {
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase; }

.button:hover {
  background-color: #708090;
  color: whitesmoke; }

#login a {
  margin-top: 20px;
  color: black; }

#login a:hover {
  opacity: 0.5; }

#fuelstationAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.fuelstation {
  width: 15vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  padding: 0px 10px;
  margin: 20px; }

.fuelstation:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }

/* SIGNUP **********************/
#signup a {
  margin-top: 20px;
  color: whitesmoke;
  font-family: 'Montserrat', serif; }

/* MYACCOUNT **********************/
.add-button {
  float: right;
  margin-right: 10px;
  margin-top: 70px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase; }

.add-button:hover {
  background-color: #708090;
  color: whitesmoke; }

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.car-partial {
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px; }

.car-partial:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }

.p-class {
  display: flex;
  justify-content: space-between;
  width: 310px; }

.car-image {
  object-fit: cover;
  object-position: center;
  width: 310px;
  height: auto; }

.car-img-div {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.neu-button {
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center; }

.neu-button:hover {
  background-color: #708090;
  color: whitesmoke; }

#links {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 70px; }

#rechts {
  margin-top: 20px;
  float: right;
  margin-right: 10px; }

#form-add-car input {
  height: 30px; }

#form-add-car li {
  float: left;
  margin-left: 10px; }

#kennzeichen {
  width: 120px; }

#hersteller {
  width: 120px;
  margin-right: 10px; }

#modell {
  width: 150px;
  margin-right: 10px; }

#hsn {
  width: 70px;
  margin-right: 10px; }

#tsn {
  width: 70px; }

#kraftstoff {
  width: 150px;
  margin-right: 10px; }

#leistung_ps {
  width: 70px; }

#monat {
  width: 120px;
  margin-right: 10px; }

#jahr {
  width: 70px;
  margin-right: 10px; }

#kaufpreis {
  width: 120px;
  margin-right: 10px; }

.group0 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.group1 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.group2 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.group3 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.group4 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.group5 {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.save-button {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase; }

.save-button:hover {
  background-color: #708090;
  color: whitesmoke; }

/* FUEL **********************/
#form-fuel-add input {
  height: 30px; }

#form-fuelbook-edit input {
  height: 30px; }

#datum-fuel-add {
  width: 120px; }

#fuel-datum-edit {
  width: 120px;
  margin-left: 10px; }

.km-liter-preis {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#kilometerstand {
  width: 120px;
  margin-right: 10px;
  margin-left: 10px; }

#fuel-kilometerstand-edit {
  width: 120px;
  margin-right: 10px;
  margin-left: 10px; }

#liter {
  width: 70px;
  margin-right: 10px; }

#fuel-liter-edit {
  width: 70px;
  margin-right: 10px; }

#literpreis {
  width: 70px; }

#fuel-literpreis-edit {
  width: 70px; }

#fuel-betrag-edit {
  width: 200px; }

.betrag-fuel-add {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.betrag-fuel-edit {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

/* INSURANCE **********************/
#name {
  width: 300px;
  margin-right: 10px; }

#typ {
  width: 70px;
  margin-right: 10px; }

.name {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.typ-jahr {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.km-laufleistung {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.rechnungsbetrag {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.sfk {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#betrag {
  width: 200px; }

#abschluss_kilometerstand {
  width: 120px;
  margin-right: 10px; }

#geschaetzte_laufleistung {
  width: 120px;
  margin-right: 10px; }

#schadensfreiheitsklasse {
  width: 70px;
  margin-right: 10px; }

#form-insurance-add input {
  height: 30px; }

#form-insurance-edit input {
  height: 30px; }

/* LOGBOOK **********************/
#form-log-add input {
  height: 30px; }

#form-logbook-edit input {
  height: 30px; }

.datum {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#datum {
  width: 120px; }

#datum-edit {
  width: 120px; }

#strecke_km-edit {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px; }

.start-end {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.kmstart-kmend {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#startort {
  width: 200px;
  margin-right: 10px; }

#startort-edit {
  width: 200px;
  margin-right: 10px; }

#zielort {
  width: 200px; }

#zielort-edit {
  width: 200px; }

#kilometerstand_start {
  width: 120px;
  margin-right: 10px; }

#kilometerstand_start-edit {
  width: 120px;
  margin-right: 10px; }

#kilometerstand_ende {
  width: 120px; }

#kilometerstand_ende-edit {
  width: 120px; }

/* SERVICE **********************/
#form-service-add input {
  height: 30px; }

#form-service-edit input {
  height: 30px; }

.km-reparatur {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.betrag {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

.rechnung {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#form-service-add li {
  float: left;
  margin-left: 10px; }

#form-service-edit li {
  float: left;
  margin-left: 10px; }

/* TAX **********************/
#form-tax-add input {
  height: 30px; }

#form-tax-edit input {
  height: 30px; }

.tax-group {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#typ-add {
  width: 70px;
  margin-right: 10px; }

#jahr-add {
  width: 70px;
  margin-right: 10px; }

#betrag-add {
  width: 200px; }

/* CARDETAILS **********************/
#car-remove-button {
  float: right;
  margin-right: 10px;
  margin-top: 70px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase; }

#car-remove-button:hover {
  background-color: #708090;
  color: whitesmoke; }

#car-edit-button {
  margin-top: 2px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center; }

#car-edit-button:hover {
  background-color: #708090;
  color: whitesmoke; }

#update-car-picture {
  margin-top: 2px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center; }

#update-car-picture:hover {
  background-color: #708090;
  color: whitesmoke; }

#update-car-details {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase; }

#update-car-details:hover {
  background-color: #708090;
  color: whitesmoke; }

#car-edit-form input {
  height: 30px; }

#car-edit-form li {
  float: left;
  margin-left: 10px; }

#erstzulassung_monat {
  width: 120px;
  margin-right: 10px; }

#erstzulassung_jahr {
  width: 70px; }

#kauf_jahr {
  width: 70px;
  margin-right: 10px; }

#kilometerstand_kauf {
  width: 120px; }

#kilometerstand_aktuell {
  width: 120px;
  margin-right: 10px; }

#kilometerkosten {
  width: 200px; }

.group-aktuell {
  display: flex;
  margin-left: 10px;
  align-items: flex-start; }

#car-edit-fieldset {
  border: none;
  margin-top: 50px; }

/* TABELLE **********************/
.versicherung-overview {
  display: flex;
  justify-content: center;
  width: 90%; }

table {
  border-collapse: collapse;
  border: 2px solid #2F4F4F;
  width: 100%; }

th {
  background-color: #DEB887;
  color: #494949;
  padding: 15px;
  height: 50px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

td {
  padding: 15px;
  height: 30px;
  vertical-align: middle;
  text-align: left;
  font-family: 'Montserrat', sans-serif; }

th, td {
  border-bottom: 1px solid #ddd; }

tr:hover {
  background-color: #D3D3D3; }

.rechnung-hochladen {
  margin-top: 2px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #2F4F4F;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid;
  border-color: #494949;
  font-size: 15px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  justify-items: center; }

.rechnung-hochladen:hover {
  background-color: #708090;
  color: whitesmoke; }

/* MAIN **********************/
#desc_section {
  display: flex;
  justify-content: center; }

#description {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }

#description h1 {
  text-align: center; }

/*# sourceMappingURL=style.css.map */