<h1>Neues Fahrzeug hinzufügen</h1>

<h2>Fahrzeug Daten</h2>
<div>
  <form action="/car-add" method="POST" id="form-add-car" enctype="multipart/form-data">
    <div>
      <label for="kennzeichen">Kennzeichen:</label>
      <input type="text" name="kennzeichen" id="kennzeichen">
    </div>
    <div>
      <label for="hersteller">Hersteller:</label>
      <input type="text" name="hersteller" id="hersteller">
    </div>
    <div>
      <label for="modell">Modell:</label>
      <input type="text" name="modell" id="modell">
    </div>
    <div>
      <label for="hsn">HSN:</label>
      <input type="text" name="hsn" id="hsn">
    </div>
    <div>
      <label for="tsn">TSN:</label>
      <input type="text" name="tsn" id="tsn">
    </div>
    <div>
      <label for="kraftstoff">Kraftstoff:</label>
      <input type="text" name="kraftstoff" id="kraftstoff">
    </div>
    <div>
      <label for="leistung_ps">Leistung in PS:</label>
      <input type="text" name="leistung_ps" id="leistung_ps">
    </div>
    <div>
      <p>Erstzulassung: </p>
      <label for="erstzulassung_monat">Monat:</label>
      <input type="text" name="erstzulassung_monat" id="erstzulassung_monat">
      <label for="erstzulassung_jahr">Jahr:</label>
      <input type="text" name="erstzulassung_jahr" id="erstzulassung_jahr">
    </div>
    <div>
      <label for="kaufpreis">Kaufpreis:</label>
      <input type="text" name="kaufpreis" id="kaufpreis">
    </div>
    <div>
      <label for="kilometerstand_kauf">Kilometerstand bei Kauf:</label>
      <input type="text" name="kilometerstand_kauf" id="kilometerstand_kauf">
    </div>
    <div>
      <label for="autobild" type="text" name="name">Auto Bild hochladen:</label>
      <input type="file" name="autobild" />
    </div>

    <button type="submit">Speichern</button>
  </form>
</div>