<!--insurance add form - gets car as input-->
<h1>KFZ-Steuer hinzufügen</h1>

<h2>KFZ-Steuer-Daten</h2>
<div>
  <form action="/myaccount/tax/add/{{carId}}" method="POST" id="form-tax-add">
    <div>
      <label for="typ">Typ:</label>
      <input type="text" name="typ" id="typ">
    </div>
    <div>
      <label for="jahr">Jahr:</label>
      <input type="text" name="jahr" id="jahr">
    </div>
    <div>
      <label for="betrag">Rechnungsbetrag:</label>
      <input type="text" name="betrag" id="betrag">
    </div>
    <button type="submit">Speichern</button>   
  </form>
</div>
