<!--- NAVBAR -->

<header>
        <div id="logo">
                <a href="/home-main"><li>MyCarApp</li></a>
        </div>

        <nav id="main-nav">
            <ul>
                <a href="/home-main"><li>Home</li></a>
                <a href="/myaccount"><li>MyAccount</li></a>
                <a href="/"><li>Logout</li></a>
            </ul>
        </nav>
    </header>

<!--insurance add form - gets car as input-->

<section>
<h2>KFZ-Steuer hinzufügen</h2>

<div>
  <form action="/myaccount/tax/add/{{carId}}" method="POST" id="form-tax-add">

  <div class="tax-group">
    <div>
      <label for="typ">Typ:</label>
      <input type="text" name="typ" id="typ">
    </div>
    <div>
      <label for="jahr">Jahr:</label>
      <input type="text" name="jahr" id="jahr">
    </div>
    <div>
      <label for="betrag">Rechnungsbetrag:</label>
      <input type="text" name="betrag" id="betrag">
    </div>
  </div>  
    <button type="submit" class="save-button">Speichern</button>   
  </form>
</div>
</section>
